*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --bg-header: #ff6900;
    --bg-footer: #1A1A1A;
    --price-color: #ff2644;
    --discount-color: #ff0000;
    --tenability-color: #008000;
    --header-text-color: #ffff;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.py-px{
    padding: 1rem 0;
}

/* region header */
.container-header{
    background-color: var(--bg-header);
    justify-content: space-around;
    img{
        width: 200px;
    }
    ul{
        list-style: none;
        gap: 1rem;
    }
    a{
        text-decoration: none;
        color: var(--header-text-color);
    }
    span{
        color: var(--header-text-color);
        padding-left: .8rem;
    }
}

/* region main */
.container-main{
    gap: 1.3rem;
    flex-wrap: wrap;
    padding-top: 2rem;
    img{
        width: 400px;
    }
    .text-strong{
        color: var(--bg-footer);
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        font-size: .9rem;
    }
    .text-red-700{
        color: var(--price-color);
        font-weight: 600;
    }
    .content-main{
        position: relative;
    }
    .discount, .sostenibilità, .sostenibilita-hero{
        color: var(--header-text-color);
        padding: .2rem .5rem;
        font-weight: 600;
        position: absolute;
        top: 520px;
    }
    .discount{
        background-color: var(--discount-color); 
        left: 0;
    }
    .sostenibilità{
        background-color: var(--tenability-color);
        right: 240px;
    }
    .sostenibilita-hero{
        left: 0;
        background-color: var(--tenability-color);
    }
    .hearts{
        background-color: var(--header-text-color);
        padding: .3rem;
        font-size: 1.3rem;
        position: absolute;
        top: 5px;
        right: 0;
    }
    
}

/* region hover */
.image-hover{
    position: relative;
    .hover{
        position: absolute;
        top: 0px;
        opacity: 0;
    }
    .hover:hover{
        opacity: 100;
    }
}

.content-main:hover .hearts{
    color: var(--discount-color);
}


/* region footer */
.container-footer{
    background-color: var(--bg-footer);
    color: var(--header-text-color);
    justify-content: space-around;
    padding: 2rem;
    margin-top: 2rem;
    .information-boolando>span{
        font-size: .8rem;
    }
    h2{
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }
    span{
        padding-right: .8rem;
    }
    i{
        border: 1px solid transparent;
        background-color: #fff;
        color: var(--bg-footer);
        padding: .1rem;
    }
}


